# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
clean_city_data = pd.read_csv(r'D:\036_Rice\1_Homework_UD\Python_API_Challenge\VacationPy\Resources\clean_city_data.csv')
clean_city_data

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Awjilah,29.1081,21.2869,35.38,8,0,4.75,LY,1622047220
1,Nurmijärvi,60.4641,24.8073,7.98,91,75,1.79,FI,1622047220
2,Poum,-20.2333,164.0167,22.00,60,38,5.17,NC,1622047220
3,Ketchikan,55.3422,-131.6461,8.26,81,90,1.54,US,1622047221
4,Ushuaia,-54.8000,-68.3000,-1.19,100,75,10.29,AR,1622046978
...,...,...,...,...,...,...,...,...,...
546,Linda,39.1277,-121.5508,22.61,43,1,1.54,US,1622047375
547,Jiwani,25.0500,61.7417,32.22,65,0,5.75,PK,1622047375
548,Bandarbeyla,9.4942,50.8122,26.56,80,42,12.42,SO,1622047375
549,Tres Arroyos,-38.3739,-60.2798,18.47,46,97,8.28,AR,1622047376
550,Nirgua,10.1553,-68.5663,28.49,50,43,1.15,VE,1622047376

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Locations
locations = clean_city_data[['Lat','Lon']]

# Weight
weights = clean_city_data['Humidity']

#Heatmap layer to map

figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=1,
                                 point_radius=0.7)
# Add layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [4]:
# Do not run

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Ideal weather

ideal_weather = clean_city_data.loc[(clean_city_data['Max Temp']>=16) & (clean_city_data['Max Temp']<=30) &
                             (clean_city_data['Wind Speed']<=16) & (clean_city_data['Cloudiness'] == 0),:]
ideal_weather.reset_index(drop=True)

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Gobabis,-22.4500,18.9667,16.53,26,0,4.28,NaN,1622047227
1,Mossamedes,-15.1961,12.1522,25.17,63,0,2.42,AO,1622047228
2,Ābdānān,32.9926,47.4198,26.52,20,0,3.42,IR,1622047228
3,Port Elizabeth,-33.9180,25.5701,16.16,77,0,1.54,ZA,1622047136
4,Cidreira,-30.1811,-50.2056,19.08,48,0,2.69,BR,1622047118
5,Mahon,39.8885,4.2658,20.31,56,0,4.63,ES,1622047232
6,Severnyy,50.6770,36.5532,23.02,40,0,2.00,RU,1622047245
7,East London,-33.0153,27.9116,17.52,88,0,2.06,ZA,1622047182
8,Seoul,37.5683,126.9778,16.74,58,0,4.42,KR,1622047096
9,Ormara,25.2088,64.6357,29.93,82,0,5.18,PK,1622047254
10,Ovalle,-30.5983,-71.2003,27.40,13,0,1.09,CL,1622047258
11,Semey,50.4111,80.2275,23.12,33,0,1.00,KZ,1622047270
12,Ayagoz,47.9714,80.4392,20.52,37,0,4.40,KZ,1622047277
13,Shiraz,29.6036,52.5388,24.69,11,0,2.06,IR,1622047282
14,Marsá Maţrūḩ,31.3525,27.2453,26.11,41,0,4.12,EG,1622047303
15,Ortaköy,38.7373,34.0387,25.14,42,0,3.79,TR,1622047308
16,Kumul,42.8000,93.4500,26.90,13,0,2.83,CN,1622047312
17,Rundu,-17.9333,19.7667,18.13,35,0,2.33,NaN,1622047318
18,Salta,-24.7859,-65.4117,19.21,55,0,0.89,AR,1622047072
19,Saurimo,-9.6608,20.3916,19.44,44,0,1.67,AO,1622047330
20,Dalianwan,39.0286,121.6950,17.02,77,0,5.37,CN,1622047331
21,Yinchuan,38.4681,106.2731,19.57,14,0,2.62,CN,1622047331
22,Opuwo,-18.0607,13.8400,20.04,29,0,3.93,NaN,1622047333
23,Mocuba,-16.8392,36.9856,17.17,74,0,1.64,MZ,1622047334
24,Tsumeb,-19.2333,17.7167,20.75,32,0,3.40,NaN,1622047335
25,Luanda,-8.8368,13.2343,27.00,83,0,4.63,AO,1622047346
26,Marsaxlokk,35.8419,14.5431,23.34,49,0,3.09,MT,1622047353
27,Paphos,34.7667,32.4167,23.88,78,0,4.12,CY,1622047231
28,Petra,30.3222,35.4793,24.45,24,0,3.92,JO,1622047358
29,Dahuk,36.8695,42.9940,26.16,26,0,1.06,IQ,1622047110
30,Zyryanovsk,49.7386,84.2719,18.48,64,0,0.89,KZ,1622047368
31,Beloha,-25.1667,45.0500,19.58,87,0,4.31,MG,1622047369
32,Kiryat Gat,31.6100,34.7642,26.83,46,0,3.76,IL,1622047341
33,Alāwalpur,31.4328,75.6508,29.55,12,0,1.21,IN,1622047372
34,Abhā,18.2164,42.5053,23.14,60,0,1.97,SA,1622047373

In [6]:
# Drop NaN

ideal_weather.dropna(subset=['Country'], inplace = True)
clean_ideal = ideal_weather.reset_index(drop=True)
clean_ideal

<ipython-input-6-4c7246a9f33e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideal_weather.dropna(subset=['Country'], inplace = True)

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mossamedes,-15.1961,12.1522,25.17,63,0,2.42,AO,1622047228
1,Ābdānān,32.9926,47.4198,26.52,20,0,3.42,IR,1622047228
2,Port Elizabeth,-33.9180,25.5701,16.16,77,0,1.54,ZA,1622047136
3,Cidreira,-30.1811,-50.2056,19.08,48,0,2.69,BR,1622047118
4,Mahon,39.8885,4.2658,20.31,56,0,4.63,ES,1622047232
5,Severnyy,50.6770,36.5532,23.02,40,0,2.00,RU,1622047245
6,East London,-33.0153,27.9116,17.52,88,0,2.06,ZA,1622047182
7,Seoul,37.5683,126.9778,16.74,58,0,4.42,KR,1622047096
8,Ormara,25.2088,64.6357,29.93,82,0,5.18,PK,1622047254
9,Ovalle,-30.5983,-71.2003,27.40,13,0,1.09,CL,1622047258
10,Semey,50.4111,80.2275,23.12,33,0,1.00,KZ,1622047270
11,Ayagoz,47.9714,80.4392,20.52,37,0,4.40,KZ,1622047277
12,Shiraz,29.6036,52.5388,24.69,11,0,2.06,IR,1622047282
13,Marsá Maţrūḩ,31.3525,27.2453,26.11,41,0,4.12,EG,1622047303
14,Ortaköy,38.7373,34.0387,25.14,42,0,3.79,TR,1622047308
15,Kumul,42.8000,93.4500,26.90,13,0,2.83,CN,1622047312
16,Salta,-24.7859,-65.4117,19.21,55,0,0.89,AR,1622047072
17,Saurimo,-9.6608,20.3916,19.44,44,0,1.67,AO,1622047330
18,Dalianwan,39.0286,121.6950,17.02,77,0,5.37,CN,1622047331
19,Yinchuan,38.4681,106.2731,19.57,14,0,2.62,CN,1622047331
20,Mocuba,-16.8392,36.9856,17.17,74,0,1.64,MZ,1622047334
21,Luanda,-8.8368,13.2343,27.00,83,0,4.63,AO,1622047346
22,Marsaxlokk,35.8419,14.5431,23.34,49,0,3.09,MT,1622047353
23,Paphos,34.7667,32.4167,23.88,78,0,4.12,CY,1622047231
24,Petra,30.3222,35.4793,24.45,24,0,3.92,JO,1622047358
25,Dahuk,36.8695,42.9940,26.16,26,0,1.06,IQ,1622047110
26,Zyryanovsk,49.7386,84.2719,18.48,64,0,0.89,KZ,1622047368
27,Beloha,-25.1667,45.0500,19.58,87,0,4.31,MG,1622047369
28,Kiryat Gat,31.6100,34.7642,26.83,46,0,3.76,IL,1622047341
29,Alāwalpur,31.4328,75.6508,29.55,12,0,1.21,IN,1622047372
30,Abhā,18.2164,42.5053,23.14,60,0,1.97,SA,1622047373

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Loop to find the nearest hotel

hotel_df=[]

for city in range(len(clean_ideal['City'])):
    lat = clean_ideal.loc[city]["Lat"]
    lon = clean_ideal.loc[city]["Lon"]
    coords = f"{lat},{lon}"
    params = {"location": coords, 
              "types": "lodging",
              "radius": 5000,
              "key": g_key
              }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   
    response = requests.get(base_url, params=params).json()
 
    try:
        hotel_df.append(response["results"][0]["name"])
    except:
        hotel_df.append("No hotel found")

# Data frame

clean_ideal["Hotel Name"] = hotel_df
clean_ideal

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Mossamedes,-15.1961,12.1522,25.17,63,0,2.42,AO,1622047228,Hotel Chik Chik Namibe
1,Ābdānān,32.9926,47.4198,26.52,20,0,3.42,IR,1622047228,خدمات موبایل میرزایی
2,Port Elizabeth,-33.9180,25.5701,16.16,77,0,1.54,ZA,1622047136,39 On Nile Guest House
3,Cidreira,-30.1811,-50.2056,19.08,48,0,2.69,BR,1622047118,Hotel Castelo
4,Mahon,39.8885,4.2658,20.31,56,0,4.63,ES,1622047232,ARTIEM Capri
5,Severnyy,50.6770,36.5532,23.02,40,0,2.00,RU,1622047245,Full House North Mini-Hotel
6,East London,-33.0153,27.9116,17.52,88,0,2.06,ZA,1622047182,Tu Casa
7,Seoul,37.5683,126.9778,16.74,58,0,4.42,KR,1622047096,Lotte Hotel Seoul
8,Ormara,25.2088,64.6357,29.93,82,0,5.18,PK,1622047254,Crystal Beach and Camping Resort Ormara
9,Ovalle,-30.5983,-71.2003,27.40,13,0,1.09,CL,1622047258,Hotel Altos de Tuqui
10,Semey,50.4111,80.2275,23.12,33,0,1.00,KZ,1622047270,Grand Hotel Semey
11,Ayagoz,47.9714,80.4392,20.52,37,0,4.40,KZ,1622047277,Gostinitsa Nur
12,Shiraz,29.6036,52.5388,24.69,11,0,2.06,IR,1622047282,Kowsar Hotel
13,Marsá Maţrūḩ,31.3525,27.2453,26.11,41,0,4.12,EG,1622047303,Beau Site
14,Ortaköy,38.7373,34.0387,25.14,42,0,3.79,TR,1622047308,Berilhan Hotel
15,Kumul,42.8000,93.4500,26.90,13,0,2.83,CN,1622047312,Laoyutang Resort
16,Salta,-24.7859,-65.4117,19.21,55,0,0.89,AR,1622047072,Hotel Alejandro I
17,Saurimo,-9.6608,20.3916,19.44,44,0,1.67,AO,1622047330,Hotel Kawissa Saurimo
18,Dalianwan,39.0286,121.6950,17.02,77,0,5.37,CN,1622047331,Huanghai Hotel
19,Yinchuan,38.4681,106.2731,19.57,14,0,2.62,CN,1622047331,JJ Inns - Yinchuan New Moon Square Branch
20,Mocuba,-16.8392,36.9856,17.17,74,0,1.64,MZ,1622047334,Phama Lodge
21,Luanda,-8.8368,13.2343,27.00,83,0,4.63,AO,1622047346,LANDU MARINEZA LUFUANDU TONI
22,Marsaxlokk,35.8419,14.5431,23.34,49,0,3.09,MT,1622047353,Water's Edge
23,Paphos,34.7667,32.4167,23.88,78,0,4.12,CY,1622047231,Elysium Hotel
24,Petra,30.3222,35.4793,24.45,24,0,3.92,JO,1622047358,Petra Palace Hotel
25,Dahuk,36.8695,42.9940,26.16,26,0,1.06,IQ,1622047110,Parwar Hotel
26,Zyryanovsk,49.7386,84.2719,18.48,64,0,0.89,KZ,1622047368,Гостиница «ЭВЕРЕСТ»
27,Beloha,-25.1667,45.0500,19.58,87,0,4.31,MG,1622047369,No hotel found
28,Kiryat Gat,31.6100,34.7642,26.83,46,0,3.76,IL,1622047341,OlusHome
29,Alāwalpur,31.4328,75.6508,29.55,12,0,1.21,IN,1622047372,Pardeep Mottan
30,Abhā,18.2164,42.5053,23.14,60,0,1.97,SA,1622047373,Abha Hotel

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your  name
hotel_info = [info_box_template.format(**row) for index, row in clean_ideal.iterrows()]
locations = clean_ideal[["Lat", "Lon"]]

In [12]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add markers layer
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…